<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--Какой поставщик-->
      <add key="provider" value="System.Data.SqlClient"/>
      <!--Какая строка подключения-->
      <add key="connectionString" value="Data Source=DESKTOP-LHPGC3M;
           Initial Catalog=AutoLot;Integrated Security=True"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>